@import "src/scss/common/sizes";

.sales-training {
  &__header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: 30px;
    max-width: 678px;
    text-align: center;

    @include for-hg-down {
      margin-bottom: 22px;
    }

    .mark-wrapper {
      position: relative;

      &:before {
        position: absolute;
        content: '';
        bottom: -12px;
        left: 0;
        transform: translateY(100%);
        width: 100%;
        height: 6px;
        background: linear-gradient(264.91deg, #7C4EAB 0.73%, #DD51D4 95.85%);
        border-radius: 5px;

        @include for-md-down {
          bottom: -10px;
          height: 4px;
        }
      }
    }

    .mark {
      color: var(--main-color);
    }
  }

  &__subtitle {
    margin-bottom: 84px;
    max-width: 846px;
    text-align: center;

    @include for-hg-down {
      margin-bottom: 80px;
    }

    @include for-hg-down {
      margin-bottom: 50px;
    }
  }

  &__grid-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 122px;

    @include for-vt-down {
      grid-gap: 84px;
    }

    @include for-hg-down {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 60px;
    }

    @include for-md-down {
      grid-template-columns: 1fr;
      grid-gap: 40px;
    }
  }

  &__grid-item {
    @include for-md-down {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__grid-item-icon-wrapper {
    background: var(--main-color);
    box-shadow: 0 4px 25px rgba(234, 93, 187, 0.25);
    border-radius: var(--border-radius-large);
    display: inline-block;
    padding: 10px;
    margin-bottom: 30px;

    @include for-vt-down {
      margin-bottom: 20px;
    }
  }

  &__grid-item-icon {
    width: 48px;
    height: 48px;

    @include for-vt-down {
      width: 38px;
      height: 38px;
    }
  }

  &__grid-item-caption {
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 150%;

    @include for-md-down {
      text-align: center;
    }
  }

  &__grid-item-value {

    @include for-md-down {
      text-align: center;
    }
  }
}
