<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover">
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" href="css/styles.min.css"/>
  <title>
    {{ title }}
  </title>
</head>

<body class="no-touch">
<div class="sprite" aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;">
  {{> sprite }}
</div>

<div class="gl-layout-wrapper">
  <div class="gl-layout-header">
    {{> layout-header }}
  </div>

  <main class="gl-layout-content">
    {{#block "main"}}{{/block}}
  </main>

  <div class="gl-layout-footer">
    {{> layout-footer }}
  </div>

  {{#if script }}
    <script src="js/{{script}}.js"></script>
  {{/if}}
</div>
</body>
</html>
