{{#extend "layout"}}
  {{#content "main"}}

    <section class="">
      {{> bread-crumbs }}

      {{> index/introductory-block }}
      {{> index/background-story }}
    </section>

  {{/content}}
{{/extend}}
