{{#extend "layout"}}
  {{#content "main"}}

    <section>
      {{> bread-crumbs }}

      {{> index/introductory-block }}
      {{> index/background-story }}
      {{> index/sales-training }}
    </section>

  {{/content}}
{{/extend}}
