{{#extend "layout"}}
  {{#content "main"}}

    <section class="">
      <div class="gl-page-content">

      {{> bread-crumbs }}

        <div>content</div>
      </div>
    </section>

  {{/content}}
{{/extend}}
