<section class="introductory-block">
  <div class="gl-page-content">
    <div class="introductory-block__content-wrapper">
      <h1 class="introductory-block__title gl-h1">
        <span class="gl-mark-main-color">Обучающие курсы</span> для поставщиков на маркетплейсы
      </h1>

      <div>
        <div class="introductory-block__price-wrapper">
          <svg aria-hidden="true" class="introductory-block__price-icon">
            <use xlink:href="#spent"/>
          </svg>
          <div class="introductory-block__price-text gl-t1">
            от <span class="mark">19 900</span> <span class="currency">₽</span>
          </div>
        </div>
        <div>
          <p class="gl-t1">
            Обучающие курсы по работе и продвижению на маркетплейсах от практикующих селлеров
          </p>
          <p class="gl-t1">
            Добро пожаловать в Академию. Это место для эффективного обучения, где мы рассказываем, как работают
            маркетплейсы и никогда не вдаемся в теорию, которая не понадобится на практике.
          </p>
          <p class="gl-t1">
            Нащи уроки помогут понять логику работы площадок и взять управление продажами в свои руки, а не действовать
            наугад. Становись экспертом в работе с маркетплейсами и увеличивай свою прибыль.
          </p>
        </div>
      </div>

      <div class="introductory-block__image-wrapper">
        <svg aria-hidden="true" class="introductory-block__image">
          <use xlink:href="#superman"/>
        </svg>
      </div>
    </div>
  </div>
</section>
