@font-face {
    font-family: 'Riffic';
    src: url('../assets/fonts/Riffic-Bold.woff2') format('woff2'),
    url('../assets/fonts/Riffic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Calibri';
    src: url('../assets/fonts/Calibri.woff2') format('woff2'),
    url('../assets/fonts/Calibri.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
