@import "src/scss/header";

$height: 36px;
$white: #ffffff;
$font-disabled-color: #dedede;
$border-color: #dcdee2;
$search-highlight-color: #fffb8c;
$border-radius: 4px;
$spacing-m: 6px;

.header__select-wrapper {
  width: auto;
  min-width: 120px;

  .ss-main {
    position: relative;
    display: inline-block;
    user-select: none;
    width: 100%;
    @extend %header-link-and-select;

    .ss-single-selected {
      display: flex;
      cursor: pointer;
      width: 100%;
      height: $height;
      padding: $spacing-m;
      border-radius: $border-radius;
      background-color: $white;
      outline: 0;
      box-sizing: border-box;
      transition: background-color .2s;

      &.ss-disabled {
        background-color: $border-color;
        cursor: not-allowed;
      }

      &.ss-open-above {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }

      &.ss-open-below {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      .placeholder {
        display: flex;
        flex: 1 1 100%;
        align-items: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: left;
        width: calc(100% - 30px);
        line-height: 1em;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        * {
          display: flex;
          align-items: center;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: auto;
        }

        .ss-disabled {
          color: $font-disabled-color;
        }
      }

      .ss-deselect {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: 0 1 auto;
        margin: 0 $spacing-m 0 $spacing-m;
        font-weight: bold;

        &.ss-hide {
          display: none;
        }
      }

      .ss-arrow {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: 0 1 auto;
        margin: 0 $spacing-m 0 $spacing-m;

        span {
          border: 5px solid transparent;
          border-top: 6px solid var(--main-text-color);
          display: inline-block;
          transition: transform 50ms;

          &.arrow-up {
            transform: translateY(-3px) rotate(-180deg);
          }

          &.arrow-down {
            transform: translateY(3px);
          }
        }
      }
    }

    .ss-multi-selected {
      display: flex;
      flex-direction: row;
      cursor: pointer;
      min-height: $height;
      width: 100%;
      padding: 0 0 0 3px;
      border: 1px solid $border-color;
      border-radius: $border-radius;
      background-color: $white;
      outline: 0;
      box-sizing: border-box;
      transition: background-color .2s;

      &.ss-disabled {
        background-color: $border-color;
        cursor: not-allowed;

        .ss-values {

          .ss-value {
            .ss-value-delete {
              cursor: not-allowed;
            }
          }
        }
      }

      &.ss-open-above {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }

      &.ss-open-below {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      .ss-values {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        flex: 1 1 100%;
        width: calc(100% - 30px);

        .ss-disabled {
          display: flex;
          padding: 4px 5px;
          margin: 2px 0;
          line-height: 1em;
          align-items: center;
          width: 100%;
          color: $font-disabled-color;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        @keyframes scaleIn {
          0% {
            transform: scale(0);
            opacity: 0;
          }
          100% {
            transform: scale(1);
            opacity: 1;
          }
        }
        @keyframes scaleOut {
          0% {
            transform: scale(1);
            opacity: 1;
          }
          100% {
            transform: scale(0);
            opacity: 0;
          }
        }

        .ss-value {
          display: flex;
          user-select: none;
          align-items: center;
          font-size: 12px;
          padding: 3px 5px;
          margin: 3px 5px 3px 0;
          color: $white;
          background-color: var(--main-color);
          border-radius: $border-radius;
          animation-name: scaleIn;
          animation-duration: .2s;
          animation-timing-function: ease-out;
          animation-fill-mode: both;

          &.ss-out {
            animation-name: scaleOut;
            animation-duration: .2s;
            animation-timing-function: ease-out;
          }

          .ss-value-delete {
            margin: 0 0 0 5px;
            cursor: pointer;
          }
        }
      }

      .ss-add {
        display: flex;
        flex: 0 1 3px;
        margin: 9px 12px 0 5px;

        .ss-plus {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          height: 10px;
          width: 2px;
          transition: transform .2s;

          &:after {
            content: "";
            position: absolute;
            height: 2px;
            width: 10px;
            left: -4px;
            top: 4px;
          }

          &.ss-cross {
            transform: rotate(45deg);
          }
        }
      }

    }
  }

  .ss-content {
    position: absolute;
    width: 100%;
    margin: -1px 0 0 0;
    box-sizing: border-box;
    border: solid 1px $border-color;
    border-radius: $border-radius;
    z-index: 1010;
    background-color: $white;
    transform-origin: center top;
    transition: transform .2s, opacity .2s;
    opacity: 0;
    transform: scaleY(0);

    &.ss-open {
      display: block;
      opacity: 1;
      transform: scaleY(1);
    }

    .ss-search {
      display: none;
    }

    .ss-addable {
      padding-top: 0;
    }

    .ss-list {
      max-height: 200px;
      overflow-x: hidden;
      overflow-y: auto;
      text-align: left;

      .ss-optgroup {
        .ss-optgroup-label {
          padding: 6px 10px 6px 10px;
          font-weight: bold;
        }

        .ss-option {
          padding: 6px 6px 6px 25px;
        }
      }

      .ss-optgroup-label-selectable {
        cursor: pointer;

        &:hover {
          color: $white;
          background-color: var(--main-color);
        }
      }

      .ss-option {
        padding: 6px 4px;
        font-size: 14px;
        line-height: 16px;
        cursor: pointer;
        user-select: none;
        transition: all var(--transition-duration-fast);

        * {
          display: inline-block;
        }

        &:hover, &.ss-highlighted {
          color: $white;
          background-color: var(--main-color);
        }

        &.ss-disabled {
          cursor: initial;
          color: $font-disabled-color;
          background-color: $white;
        }

        &:not(.ss-disabled).ss-option-selected {
          background-color: rgba(var(--main-color), .1);
        }

        &.ss-hide {
          display: none;
        }

        .ss-search-highlight {
          background-color: $search-highlight-color;
        }
      }
    }
  }
}
