@import "common/extends";
@import "common/sizes";

.gl-layout-wrapper {
  @extend %set-max-height;
  height: 100%;
  position: relative;

  &:before {
    position: absolute;
    content: '';
    top: -198px;
    left: -682px;
    width: 782px;
    height: 782px;
    background-image: url("../assets/icons/layout-circle.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left;
    z-index: calc(var(--z-index-header) + 1);

    @include for-fl-down {
      top: -100px;
      left: -412px;
      width: 434px;
      height: 434px;
    }

    @include for-hg-down {
      content: none;
    }
  }
}

.gl-layout-content {
  @extend %set-max-height;
  padding-bottom: 130px;

  @include for-vt-down {
    padding-bottom: 120px;
  }

  @include for-hg-down {
    padding-bottom: 84px;
  }

  @include for-md-down {
    padding-bottom: 70px;
  }
}
